version: '3.8'

services:
  flask-app:
    build: ./flask-app
    container_name: flask_app
    ports:
      - "5000:5000"
    networks:
      - monitoring-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - monitoring-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitoring-net

  attack:
    build: ./attack
    container_name: attack
    networks:
      - monitoring-net
    tty: true
    stdin_open: true

networks:
  monitoring-net:
    driver: bridge

volumes:
  prometheus-data:
  grafana-data: