<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Мой сайт</title>
</head>
<body bgcolor="pink">
<div style="display: flex; gap: 80px;">
    <span><h1>НОВОСТИ</h1></span>
    <span><p style="font-size: 22px;"><i>о нас</i></p></span>
  <span><p style="font-size: 22px;"><i>главная</i></p></span>
  <span><p style="font-size: 22px;"><i>статьи</i></p></span>
    <span><p style="font-size:22px;"><i>контакты</i></p></span>
</div>
<style>
  .search-large { width: 700px; }
</style>
<form action="/search" method="GET">
  <input type="text" class="search-large" name="q" placeholder="Поиск...">
  <button type="submit">Найти</button>
</form>

</body>
</html>